:root {
    --input-unfocused-border-color: transparent;
    --input-disabled-border-color: transparent;
    --input-hover-border-color: black;
    
    /* ... By default, nothing is placed within :root in Publish. However, CSS variables here are considered global, and accessible to all sub-elements such as body and .theme-light. */
  }
  
  .published-container {
    --page-width: 800px;
    --page-side-padding: 48px;
    
    /* ... CSS variables for Publish that do not change when light or dark mode is enabled. They sometimes link to color variables in .theme-light or .theme-dark */
  }
  .body {
    --inline-title-color: var(--h1-color);
    --h2-color: red;
  
    /* ... CSS variables that do not change when light or dark mode is enabled. They sometimes link to color variables in .theme-light or .theme-dark */
  }
  .theme-light {
    --background-primary: #ebf2ff;
    --h1-color: #000000;
    
    /* ... CSS color variables for when light mode is enabled */
  }
  .theme-dark {
    --background-primary: #1f2a3f;
    --h1-color: #ffffff;
    
    /* ... CSS color variables for when dark mode is enabled */
  }